<div class="btn btn-link pull-right"><i class="icon-plus-sign"></i> <%= link_to "New Question", new_question_path %></div>
<h3 class="title">All Questions</h3>
<div class="clear"></div>

<div class="questions_list">
  <%= render "list_of_questions", :questions=>@questions %>
</div>
