<% content_for :categories  do %>
  <ul>
    <% Category.all.limit(5).each do |category| %>
      <li><%= link_to category.title, show_blogs_category_path(category) %></li>
    <% end %>        
  </ul>
<% end %>


<% content_for :users do %>
  <ul>
    <% User.all.limit(5).each do |user| %>
      <li><%= link_to user.name, user_blogs_user_path(user) %></li>
    <% end %>               
  </ul>
<% end %>




<% content_for :recent_posts do %>
  <div class="title_div">Recent Posts</div>
    <div class="post_content">
      <ul>
         <% Blog.all.limit(5).each do |blog| %>
            <li><%= link_to truncate(blog.title, :ommision => "... Read More", :length => 25), blog %></li> 
         <% end %>
      </ul>
   </div>
<% end %>
<% content_for :tags do %>
  <ul>
    <% a= [] %>
      <% Blog.all.map(&:tags).each do |tag| %>
        <%  a<<tag.split(",") %>
      <% end %>
      <% a=  a.flatten.uniq %>
      <% a= a.first(5) %>
      <% a.each do |tag|%>
        <li><%= link_to tag, tags_blogs_path(:tag => tag), :remote => true %></li>
      <% end %>
  </ul>
 <% end %>
