<h3>Hello <%= @receiver %>,</h3>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<b><%= @answer_by %> , </b>  answered to your Question
<b>"<%= @question_title %>" </b> as <b>" <%= raw(@answer_content) %> </b>"

