<br/>
<h5 class="h5_comment">Comments <i class=" icon-comment"></i></h5>

<div id="comments">
    <% @comments.each do |comment| %>
      <p class="comment">
        <i class="icon-user"></i> <b class="comment_user_name"><%= comment.user.name %></b> <br>
        <%=  comment.content %>
        <br/>
        <span class="pull-right posted_by">
          <i class="icon-time"></i> <%= format_time(comment.created_at) %>
        </span>
      </p>
      <div class="clear"></div>
    <% end %>
</div>
<div id="paginator">
  <%= paginate @comments, :remote => true %>
</div>

