  <div id="span12" class="span12">
    <h3 class="title"> Blog</h3><br/><hr/>
     <% if @blogs.present? %>
     <ul>
        <% @blogs.each do |blog| %>
          <li>
            <%= link_to blog.title, blog_path(blog.id) %><hr/>
          </li>
        <% end %>
      </ul>
     <% else %>
     <div class="alert alert-success fade in">
        <a class="close" data-dismiss="alert" href="#">×</a><No blogs found related to your Search      
     </div>
     <% end %>
  </div>
