<div class="btn btn-link pull-right"><i class="icon-plus-sign"></i> <%= link_to "Post New Article", new_article_path %></div>
<h3 class="title">All Articles</h3>
<div class="clear"></div>

<div class="list_of_articles">
  <%= render "list_of_articles", :articles=>@articles %>
</div>
