<h3>List of Articles </h3>
<% @articles.each do |article| %><br>
<b>Title:</b><%= link_to article.title, article_path(article.id) %><br>
<b>Content:</b><%= article.content %><br>
<b>Tags:</b><%= article.tags %><br><hr>
  
<% end %>  <br>
<%= link_to "New Article", new_article_path %>
