<div class="btn btn-link pull-right"><i class="icon-plus-sign"></i> <%= link_to "New Code Base", new_code_snippet_path %></div>
<h3 class="title">All Code Bases</h3>
<div class="clear"></div>

<div class="code_list">
  <%= render "list_of_code_snippets", :code_snippets=>@code_snippets %>
</div>
