<div class="articles">
<% @user_articles.each do |article|%>
  <%= link_to article.title, article_path(article.id) %><hr/>
<% end %>
</div>
<div class= "pull-right">
<% if @user_articles.length>5 %>
<%= link_to 'More articles',  user_articles_user_path, :remote=> true %>
<% end %>
</div>

