
  <% @user_related_articles.each do |article|%>
  <%= link_to article.title, article_path(article.id) %><hr/>
<% end %>

<div id="paginator">
  <%= paginate @user_related_articles, :remote => true %>
</div>
