<div class="blogs">
<% if @user_blogs.present? %>
<% @user_blogs.each do |blog|%>
  <%= link_to blog.title, blog_path(blog.id) %><hr/>
<% end %>
</div>
<div class="pull-right">
`<% if @user_blogs.length > 5 %>
`<%= link_to 'More posts',  user_blogs_user_path, :remote=> true %>
  <% end %>
<% else %>
<%= "No Posts" %>
<% end %>
</div>


