<div class="questions">
<% if @user_questions.present? %>
<% @user_questions.each do |question|%>
  <%= link_to question.title, question_path(question.id) %><hr/>
<% end %>
</div>
<div class= "pull-right">
  <% if @user_questions.length >5 %>
  <%= link_to 'More questions',  user_questions_user_path, :remote => true %>
  <% end %> 
<% else %>
<%= "No Questions" %>
<% end %>
</div>
