<div class="questions">
<% @user_questions.each do |question|%>
  <%= link_to question.title, question_path %><hr/>
<% end %>

<div class= "pull-right">
<%= link_to 'More questions',  user_questions_user_path, :remote => true %>
</div>
</div>
