<div class="page-description" style="margin-top: 50px;">
        <h1 id="name"> All users </h1>
         
      </div>
     <div class="clear">
     </div> 
      <div id="user-browse">
          <% @users.each do |user| %>  
            <div class="singleuser">
               <div class="user-info user-hover">
                  <% if user.avatar? %>
                    <div class="user-gravatar48">
                      <%= link_to image_tag(user.avatar_url), profile_user_path(user.id) %>
                    </div>
                  <% else %>
                    <div class="user-gravatar48">
                      <img src="/assets/user.jpeg" height="85" width="85"></img>
                    </div>
                  <%end%>
                  <div class="user-details">
                     <%= link_to user.name, profile_user_path(user.id) %><br>
                     <span class="user-location"><%= user.email %></span>                       
                     <!--   <span class="reputation-score" dir="ltr" title="reputation this month: 8093 total reputation: 187179">10 </span> -->                   
                  </div>
                  </div>
                 </div> 
            <% end %>
     
             </div>

     
     
