<h3 class="h3_title">User Profile</h3>
<div class="clear"></div>
Name:<%= @user.name %><br>
Email:<%= @user.email %>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>KnowledgeTransfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap/css/custom.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px;
         /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <script>
    function parallax(){
      var paralx_lyr = document.getElementById('paralx_lyr');
      paralx_lyr.style.top = -(window.pegeYOffset/4)-'px';
    }
    
    window.addEventListener("scroll",parallax,false);
    
    
    
    </script>
    
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/">
  </head>

  <body class="bg">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/twitter.js"></script>
  
  <div class="navbar navbar-fixed-top navbar-inverse main_nav">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">AMZUR CONNECT <sup class="sub_title">Question</sup></a>
         
          <div class="nav-collapse ">
            <ul class="nav  pull-right">
             <li><a href="#">Articles</a></li>
             <li><a href="#">Questions </a></li>
             <li><a href="#">Blog </a></li>
             <li><a href="#">Code Base</a></li>
             <li><a href="#">Login </a></li>
           </ul>
          </div>
         </div>
      </div>
       </div>
      <div class="container search_bar">
    <div class="nav2">
        <center>
          <div class="input-append  input-prepend ">
            <select class="span3">
              <option value="#">All</option>
              <option value="#">Blog</option>
              <option value="#">Article</option>
              <option value="#">Questions</option>
              <option value="#">Code Base</option>
            </select>
          <input class="input-xxlarge  span6" id="appendedInputButtons" type="text">
          <button class="btn" type="button"><i class="icon-search"></i> Search</button>
       </div>
       </center>
     </div>
   </div> 
</div> 



    <div class="container main_container">
        <div> <h1 id="name"> Smith </h1>
          <div class="a pull-right" style="margin-top:-30px;">
          <a href="#">Edit <i class="icon-pencil"></i></a>
          </div>
        </div><hr>
        <div class="span12">
          <div class="userimage span3">
            <img alt="" src="/home/priyanka/Desktop/modified/bootstrap/img/user.jpeg"></img>
          </div>
          <div class="userdetails span4">
            <table>
              <tbody>
                <tr>
                  <th> info</th>  
                  <td> Profile Name: </td>
                  <td> Smith </td>
                </tr>
                <tr>
                  <th> </th>  
                  <td> Email:</td>
                  <td> Smith@amzur.com </td>
                </tr>
                <tr>
                  <th> visits</th>  
                  <td> last seen: </td>
                  <td> 2hrs ago </td>
                </tr>
                <tr>
                  <th> repuation</th>  
                  <td> Badges: </td>
                  <td> 20 </td>
                </tr>
              </table>
            </tbody>
          </div> 
          <div class="usercomment span4"><br>
            <p class="text-center">"It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout."</p>
          </div>          
       </div>
       <h4 id="name"> My Contribution </h4>
       <div class="dis">
       <ul  class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#questions">Questions</a></li>
          <li><a data-toggle="tab" href="#articles">Articles</a></li>
          <li><a data-toggle="tab" href="#tags">Tag</a></li>           
          <li><a data-toggle="tab" href="#Answers">Answers</a></li>
       </ul>
      <div class="tab-content">
          <div id="questions" class="tab-pane fade active in">
           <h4>Questions</h4>
              <a href=""><p>Is there a speed difference between CTE , SubQuery and Temp tables?</p></a><hr>
              <a href=""><p>SQL “between” not inclusive</p></a><hr>
          </div>
          <div id="articles" class="tab-pane fade">
              <h4>Articles</h4>
                <a href=""><p>Is there a speed difference between CTE , SubQuery and Temp tables?</p></a><hr>
                <a href=""><p>SQL “between” not inclusive</p></a><hr>
          </div>
          <div id="tags" class="tab-pane fade">
              <h4>Tags</h4>
                 <a href=""><p>Is there a speed difference between CTE , SubQuery and Temp tables?</p></a><hr>
                 <a href=""><p>SQL “between” not inclusive</p></a><hr>
          </div>
          <div id="Answers" class="tab-pane fade">
              <h4>Answers</h4>
                 <a href=""><p>Is there a speed difference between CTE , SubQuery and Temp tables?</p></a><hr>
                 <a href=""><p>SQL “between” not inclusive</p></a><hr>
          </div>
      </div>
      </div>
  </div>
       
       
       
       

   </div>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>

  
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-transition.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-alert.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-modal.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-dropdown.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-scrollspy.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tab.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-tooltip.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-popover.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-button.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-collapse.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-carousel.js"></script>
    <script src="http://getbootstrap.com/2.3.2/assets/js/bootstrap-typeahead.js"></script>

  </body>
</html>

