<div class="container search_bar">
    <div class="nav2">
        <center>
          <div class="input-append  input-prepend ">
            <select class="span3">
              <option value="#">All</option>
              <option value="#">Blog</option>
              <option value="#">Article</option>
              <option value="#">Questions</option>
              <option value="#">Code Base</option>
            </select>
          <input class="input-xxlarge span6" id="appendedInputButtons" type="text">
          <button class="btn" type="button"><i class="icon-search"></i> Search</button>
       </div>
     </center>
   </div> 
</div>
