<form action="/search" method="get">

<div class="container search_bar">
    <div class="nav2">
        <center>
          <div class="input-append  input-prepend ">
            <select class="span3" name="search_type">
              <option value="all">All</option>
              <option value="blog">Blog</option>
              <option value="article">Article</option>
              <option value="question">Questions</option>
              <option value="code_snippet">Code Base</option>
            </select>
          <input class="input-xxlarge span6" id="appendedInputButtons" name="q" type="text">
          <input type="submit" class="btn icon-search" value="Search">
       </div>
     </center>
   </div> 
</div>

</form>
