<div class="span3 side_bar">
      <div class="posts span3">

          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Categories</div>
            <div class="post_content">
              <%= yield(:categories) %>
            </div>        
          </div>
          
          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Users</div>
            <div class="post_content">
              <%= yield(:users) %>
            </div>        
          </div>
          
          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Recent Posts</div>
            <div class="post_content">
              <%= yield(:recent_posts) %>
            </div>        
          </div>
          
          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Tags</div>
            <div class="post_content">
              <ul>
                <li><a href="#"><i class=""></i> Link 1</a></li>
                <li><a href="#"><i class=""></i> Link 2</a></li>
                <li><a href="#"><i class=""></i> Link 3</a></li>
                <li><a href="#"><i class=""></i> Link 4</a></li>
                <li><a href="#"><i class=""></i> Link 5</a></li>
              </ul>
            </div>        
          </div>

      </div>
</div>
