<div class="span3 side_bar">
      <div class="posts span3">

          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Categories</div>
            <div class="post_content">
              <%= yield(:categories) %>
            </div>        
          </div>
          
          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Users</div>
            <div class="post_content">
              <%= yield(:users) %>
            </div>        
          </div>
          
          <div class="hero-unit  custom_hero_unit">
            
              <%= yield(:recent_posts) %>
     
          </div>
          
          <div class="hero-unit  custom_hero_unit">
            <div class="title_div">Tags</div>
            <div class="post_content">
              <%= yield(:tags) %>
            </div>        
          </div>

      </div>
</div>
