
<div class="">
  <div class="hero-unit">
  <h3>What We Are?! </h3>
    <div class="desc">
      <p>Amzur Connect is a privately held website, the internal portal of Amzur Technologies for sharing and exploring new ideas. It features questions and answers on a wide range of topics in computer programming.  The website serves as a platform for users to post Articles, Blogs, and to ask & answer questions.In our opinion, the best way to learn is by doing. Amzur Connect opens the door to a new way of learning and spreading Knowledge.</p>
    </div>
  </div>
</div> 
