<h3>List of Projects </h3>
<%= link_to "Add New Project", new_project_path %><hr>
<% @projects.each do |project| %><br>
<b>Project Title:</b><%= project.title %>
<%= link_to "Edit",edit_project_path(project.id) %>
<%= link_to "Show",project_path(project.id) %><hr>
<% end %> 

