<h3>List of Projects </h3>
<%= link_to "Add New Project", new_project_path %><hr>
<% @projects.each do |project| %>
<b>Project Title:</b><%= project.title %><br>
<%= link_to "Edit",edit_project_path(project.id) %> &nbsp;&nbsp;&nbsp;
<%= link_to "Show",project_path(project.id) %><hr>
<% end %> 

