<h3> Project Show Page </h3><hr>

<p><b>Project Title:</b><%= @project.title %></p></br>
<%= link_to "Edit",edit_project_path(@project.id) %>
<%= link_to "Show All", projects_path %>
<%= link_to "Back", projects_path %>

