@media screen and (max-width: 980px) {

ul.nav li:hover a{
  background:#FFF !important;
}

.posts{
margin-top: 50px;
}

}

/*body
{
  padding-top: 0px !important;
}

 */


p
{
  overflow-wrap: break-word;
}





.search
{
  margin-top :30px;
}
.btn-link
{
 float : right;
}

.form
{
  /*margin-top :70px;
  width :900px;*/
  background-color: rgb(239, 247, 251);
  padding-left: 30px;
  padding-right: 20px;
}

 textarea
{
   width: 94%;
}
.wysihtml5-sandbox
{
  width:800px !important;
}


.posts
{
  height:100px;
  width :100%;

  /*border:solid 1px black;*/
  float :right;
}

.categories .hero-unit .span3
{
float:right;
}

.categories .title_div
{
background:blue;
height:10px;
width:100%;
margin:0px;
}

.hand_sym
{
  cursor :pointer;
}

.clear_margin{
  margin:0px !important;
}

.custom_hero_unit
{
  height:165px !important;
  padding:0px !important;
  border-radius:0px;
  background-color: rgb(239, 247, 251);
  box-shadow: 1px 2px 1px #C7C7C7
}

.custom_hero_unit .title_div{
  display:block;
background: #525263;

  width:100%;
  /*font-weight:bold;*/
  color:#FFF;
  text-align:center;

}

.page
{
  width :300px;
}

.row
{
  width : 750px;
  margin-top: -20px;
}
.content_description
{
 width :95%;
 height :50%;
}

.post_content ul
{
  list-style : none;
}

.post_content ul li a
{
 color : black;
 font-size :13px;
}


.custom_hero_unit li {
line-height: 25px;
}

.navbar .navbar-inverse .navbar-fixed-top
{
  background-color : green;
}

.span12 .input-append .input-prepend
{
 margin-left: 400px;

}
  
.clear{
  clear:both;
}

.sub_title{
color: #6298e1;
text-transform: capitalize;
font-weight: bold;
}


a.brand
{
color: #FFF !important;
font-weight: bold !important;
}

.navbar-inverse .navbar-inner 
{
background: #525263;
border-color: #6298e1;
margin-bottom: 10px;
}


.container
{
 margin-top: 10px; 
}

ul.nav li a
{
  color: #fff !important;
}



ul.nav li a:hover
{
  color: #000 /*#D6FF51*/ !important;
}



h3.title
{
  text-align: left;
  font-family: normal;
  font-weight: 100;
  color:  #1947A3;
   float:left;
}

span p strong
{
  color: rgba(73,192,240,1);
  right: 0px;
}

.comments
{
  border: solid 1px rgb(226, 216, 216);
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.nav a.active{
  color:#F4FFD0 !important;
  font-weight:bold;
}

.search_bar{
  background: rgb(246, 246, 246);
  width: 100%;
  margin-top: -7px;
  padding-top: 10px;
  box-shadow: 4px 0px 10px #888888;
}

.main_nav{
  margin-bottom: 0px !important;
}

.main_content{
  background-color: rgb(246, 246, 246);
  padding: 10px;
  margin-left: 0px;
  margin-right: 10px;
  box-shadow: 0px 4px 1px #888888;
}

.main_container .span12{
  margin-left:0px;
}

.main_container .side_bar{
  margin-left:0px;
}

.h3_title{
  float:left;
}

.post_title, a.post_title{
  color: rgb(29, 29, 88);
}

.post_content{
  color: #423F3F;
}

.label-info a{
  color:white;
}

.label-inverse a{
  color:white;
}

.h5_comment{
color: rgb(49, 62, 100);
}

.posted_by{
  /*
  background-color: rgb(197, 221, 236);
  width: auto;
  padding: 0px 20px;
  box-shadow: 0px 2px 6px #868080;
  */
  font-size: 12px;
  color: rgb(121, 121, 121);
}

#comments .comment{
  background: rgb(229, 233, 238);
  border-radius: 5px;
  padding: 5px;
  overflow: overlay;
  color: rgb(58, 39, 39);
}

.comment_user_name{
  color: rgb(29, 29, 88);
}

.tags_list{
  float:right;
}

.content_in_list{
  height: 40px;
  overflow: hidden;
  display: block;
}


/* -----------------------home page css-------------------*/

.home
{
   background-image: url('1.jpg');
   background-repeat:no-repeat;
   background-size: cover;  
}



.cell1
{
  height:70px; 
  width:1822px;
  background:#fff;
  opacity:0.2;
  margin-top:-70px;
  text-align: center;
  color:black;
  font-family:Arial Verdana;
}

.cell1 h2
{
  font-weight: bold;
  font-size: 50px !important;
}

.cell2
{
  height:100px; width:1860px;margin-top:280px;
  font-weight: bold; 
  color:#525263;
  font-family:Arial Verdana;
  font-size: 100px;
   text-align: center;
}

.cell3
{
  text-align: center;
  color:#525263;
  font-family:Arial Verdana;
  font-size: 30px;
  margin-top:40px;
}

.cell4
{
  text-align: center;
  height:100px; 
  width:1860px;
  margin-top:60px;
  color:#525263;
  font-family:Arial Verdana;
  font-size: 20px;
}

.cell5
{
  text-align: center;
  color:#525263;
  width:1860px;
  height:100px;
}


.btndiv
{
  text-align: center;
  margin-top: 50px;
  margin-left: 800px;
  width: 300px;
  height:300px;
}



.btndiv .button
{
  padding:22px 26px;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  position: relative;
  height: 500px;
  text-decoration:none;
  font-size:20px;
  
}

 .btndiv a:hover
{
  background-color: #fff;
  color:#47A3FF;
  opacity: 0.5px;
}




.cell6
{
  height: 300px;
  width: 1100px;
  margin-left: 300px; 
  padding:50px;

}
.cell6 .image
{
  background-image: url('article.png');
  background-size: cover;
  height: 290px;
  width: 350px;
  margin-left: 1px; 
  padding:2px;
}

.cell6 .article
{
  height: 290px;
  width: 645px;
  margin-left:390px; 
  padding:px;
  margin-top: -294px;
}



.cell7
{
  height: 300px;
  width: 1100px;
  padding:0px;
  margin-left: 300px; 
 
}

.cell7 .que
{
  height: 290px;
  width: 645px;
  margin-top: -28px;
}

.cell7 .image
{
  background-image: url('que.jpg');
  background-size: cover;
  height: 290px;
  width: 350px;
  margin-left: 670px; 
  margin-top:-290px
}
.cell8
{
  padding:0px;
  height: 300px;
  width: 1100px;
  margin-left: 300px; 
  margin-top:20px; 
}

.cell8 .image
{
  background-image: url('que.jpeg');
  background-size: cover;
  height: 290px;
  width: 350px;
  margin-left: 1px; 
  padding:-5px;
}
.cell8 .blog
{
  height: 290px;
  width: 645px;
  margin-left:390px; 
  padding:px;
  margin-top: -290px;
}


.cell9
{
  padding:0px;
  height: 300px;
  width: 1100px;
  margin-left: 300px; 
  margin-top:40px; 
}  



.cell9 .code
{
  height: 290px;
  width: 645px;
  margin-top: 40px;
}

.cell9 .image
{
  background-image: url('blog.jpg');
  background-size: cover;
  height: 290px;
  width: 350px;
  margin-left: 670px; 
  margin-top:-280px;
  }

.cell6 h1,.cell7 h1,.cell8 h1,.cell9 h1
{
 font-family:Arial Verdana !important;
 color: #1947A3 !important;
 font-size:30px !important;
 font-weight: normal !important;
}

.cell6 p,.cell7 p,.cell8 p,.cell9 p
{
  word-spacing: 5px;
  font-size:16px;
  color:#666666;
  font-family: Open Sans;
}




@media  screen and (max-width: 980px){
   .cell1 
   { 
      width: 100%;
     float:left;
     margin-top:-170px;
     margin-left: 50px;
     font-size: 30px;
     text-align: center;
       height:100%
   }
   
    .cell2 
  {
    font-weight: bold;
    color:#525263;
    font-family:Arial Verdana;
    font-size: 40px;
    text-align: center;
    width: 100%;
    height:100%
    margin-top:180px;
    
  }
  
   
  .cell3
{
  text-align: center;
  color:#525263;
  font-family:Arial Verdana;
  font-size: 20px;
  margin-top:40px;
  width: 100%;
   height:100%
}
 
  
  .cell4
  {
    text-align: center;
    margin-top:60px;
    color:#525263;
    font-family:Arial Verdana;
    font-size: 20px;
    width: 100%;
      height:100%
   }
   
   .home{
    padding:25% 0% 45% 0%;
  }
   
  }

  @media screen and (orientation: portrait) {
  body 
  { 
    max-width: 90%;
    max-height: 90%; 
  }
}

.hero-unit
{
background-color: #EFF7FB;
}

.hero-unit h3
{
  font-weight: normal;
  color:#002EB8;;
  margin-left: 50px;
}


.desc
{
  margin-left: 50px;
  word-spacing: 5px;
  font-size:15px;
  color:black
}  

.holder
{
  margin-left:50px;
  width: 950px;
}


/* -------------------------- end of home page css -----------------------*/

/* -------------------------- user index page css -----------------------*/


.nav-tabs
{
  margin-top: 50px;
}

.nav-tabs li
{
  list-style-type: none;
}


.nav-tabs li a
{
  text-decoration:none;
}


.subtabs
{
  width: 100%;
  float: right;
  font-weight: normal;
}


.subtabs a
{
  border: 1px solid #CCC;
  text-decoration:none;
  display: block;
  float: right;
  margin-right: 5px;
  padding: 2px 4px 4px;
  color: #808185;
  font-size: 13px;
}

.subtabs a:visited 
{
    color: ;
}

.user-info 
{
    clear: both;
    height: 100px;
    width: 340px;
    margin: 8px 5px;
    overflow: hidden;
}


.singleuser
{
 
  width: 250px!important;
  height: 150px;
  float:left;
  margin-left: 30px;
  margin-top: 20px;
}


 .user-gravatar48 
{
    float: left;
    width: 75px;
    height: 75px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-collapse: separate;
}

.user-gravatar48 a 
{                                                                     
    color: #07C;
    text-decoration: none;
    cursor: pointer;
}


.user-details 
{
    float: left;
    margin-left: 10px;
    width: 175px;
    overflow: hidden;
    font-size: 14px;
    white-space: nowrap;
}

 .reputation-score 
{
    font-size: 12px;
    margin-right: 0px;
}
.reputation-score 
{
    font-weight: bold;
    color: #444;
    font-size: 12px;
    margin-right: 2px;
    margin-top: -15px;
}

.user-tags 
{
    font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
    font-size: 13px;
  
    
}

/* -------------------------- end of user index page css -----------------------*/

/* -------------------------- user profile page css -----------------------*/


#name
{
  font-size: 18px;
  color:#07C;
  font-weight: normal;  
}

.userdetails 
{
  font-size: 14px;
  font-weight:normal;
  margin-top:0px;
  margin-left: 0px;
}

.userdetails th,.userdetails  td
{
padding: 3px 20px 3px 0px;
}

.userdetails th
{
  font-size: 13px;
  font-weight:normal;
  color:#A0A0A0;
}

.userimage
{
  padding: 10px;
  margin-left: 0px !important;
}


.usercomment 
{ 
  background-color: #EFF7FB;
  font-size: 14px;
  font-family: italic;
  color:#727B82;
  margin-left: 20px !important;
  height: 200px;
}

.dis ul.nav li a
{
  color: #07C!important;
}  


/* -------------------------- end of user index page css -----------------------*/

/* -------------------------- user profile page css -----------------------*/


#name
{
  font-size: 18px;
  color:#07C;
  font-weight: normal;  
}

.userdetails 
{
  font-size: 14px;
  font-weight:normal;
  margin-top:0px;
  margin-left: 0px;
}

.userdetails th,.userdetails  td
{
padding: 3px 20px 3px 0px;
}

.userdetails th
{
  font-size: 13px;
  font-weight:normal;
  color:#A0A0A0;
}

.userimage
{
  padding: 10px;
  margin-left: 0px !important;
}


.usercomment 
{ 
  background-color: #EFF7FB;
  font-size: 14px;
  font-family: italic;
  color:#727B82;
  margin-left: 20px !important;
  height: 200px;
}

.dis ul.nav li a
{
  color: #07C!important;
}  


/* -------------------------- end of profile page css -----------------------*/

/* -------------------------- user edit profile page css -----------------------*/



#inputEmail, #inputPassword
{
  width:400px;
}

#submit
{
  margin-left: 520px;
  margin-top: 20px;
}



/* --------------------------end of user edit profile page css -----------------------*/



/* profile drop down */


ul.dropdown-menu li a
{
  color: black!important;
}

a .btn .dropdown
{
  background-color: red !important;
}

/* end of profile drop down */

/* user index display */


/* end of user index */


/* global search */
 .span12 h3.title
{
padding-left: 10px;
}
h5 a
{
  color:black !important;
  font-weight:normal;
  text-decoration:none;
}

#span12
{
  box-shadow: 1px 2px 1px #C7C7C7;
  /*height:270px;*/
  width: 1050px;
  margin-top: 50px;
}

/* end of global search */


/*------------ footer css ------------- */

.foot,.push
{
  height: 50px;
}


.foot ul.nav li a
{
color: #0F0F0F !important;
padding: 0px 10px 0px 10px !important;

}

span.pull-left{
padding: 10px 0;
}

.foot
{
  background-color: #EEEEEF;
}

.foot ul li{
  
  border-right:solid 1px;
  float:left;
}

.list
{
  padding:10px;
}


.footer{
text-align: center;
padding: 10px 0 20px 0;
height: -50px !important;
border-top: 1px solid #e5e5e5;
background-color: #EEEEEF;
margin-bottom:-20px;
}

.footer ul li{
  border-right:solid 1px;
}

.footer ul li a{
padding: 0px 10px 0px 10px !important;
color: #0F0F0F !important;
}


.row .span12
{
 height:40px;
}



/*------------end of  footer css ------------- */

