<h3 class="title">Show Category</h3><br><hr>
<p><b>Category Name:</b><%= @category.title %></p></br>
<%= link_to "Edit",edit_category_path(@category.id) %>&nbsp;&nbsp;
<%= link_to "Show All", categories_path %>&nbsp;&nbsp;
<%= link_to "Back", categories_path %>&nbsp;&nbsp;

