<h3 class="title"><%= @category.title %></h3>


<div class="btn btn-link pull-right"><i class="icon-plus-sign"></i> <%= link_to "Post A New Code Base", new_article_path %></div>
<div class="clear"></div>

<div class="code_list">
  <%= render "code_snippets/list_of_code_snippets", :code_snippets=> @category_related_code_snippets %>
</div>


