<h3 class="title">Show Category</h3><br><hr>
<p><b>Title:</b><%= @category.title %></p></br>
<%= link_to "Edit",edit_category_path(@category.id) %>
<%= link_to "Show All", categories_path %>
<%= link_to "Back", categories_path %>

