<h3 class="h3_title"><%= @category.title %></h3>


<div class="btn btn-link pull-right"><i class="icon-plus-sign"></i> <%= link_to "Post Article", new_article_path %></div>
<div class="clear"></div>

<div class="list_of_articles">
  <%=  render 'blogs/list_of_blogs', :blogs=>@category_related_blogs %>
</div>

