<h3 class="h3_title"><%= @category.title %></h3>

<div class="btn btn-link pull-right"><i class="icon-plus-sign"></i> <%= link_to "Create New Post", new_article_path %></div>
<div class="clear"></div>

<div class="list_of_articles">
  <%=  render 'articles/list_of_articles', :articles=>@category_related_articles %>
</div>
