<a class="brand" href="/">Amzur Connect 
        <sup class="sub_title">
        <%= 
        case params[:controller] 
          when "questions","articles","blogs"
            params[:controller].capitalize
          when "code_snippets"
            "Code Base"
          else
            "KEDB"
          end
        %>          
        &nbsp;</sup>
</a>
