<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>KnowledgeTransfer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="http://getbootstrap.com/2.3.2/assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="http://getbootstrap.com/2.3.2/assets/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="http://getbootstrap.com/2.3.2/assets/ico/">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script type='text/javascript'>
            jQuery(document).ready(function()
            {
	            var page2TopPosition = jQuery('#page2').offset().top;
	            jQuery('#scroll').click(function()
	            {
		            jQuery('html, body').animate({scrollTop:page2TopPosition}, 'slow');
		            return false;
	            });
	
	           jQuery('#page2').parent().click(function(){
		         jQuery('html, body').animate({scrollTop:0}, 'slow');
		         return false;
	         })
          });
      </script>
    
  </head>
  <body >
  <div class="home">

  <div class="cell1">
       <h2>Amzur Connect</h2>
  </div>
 
  <div class="cell2">
      <p > Welcome</p>
  </div>
  <div class="cell3">
       <p >Amzur's community for sharing Articles,Blogs and Questions</p>
  </div>
  <div class="cell4">
       <p>Sign with Amzur id:</p>
       
       <a href="/users/auth/google_oauth2" class="btn btn-large btn-success"> SignIn </a>

  </div>
   
    <div class="cell5">
          <span>Copyright &#169; Amzur Technologies , Inc</span>
    </div>
    <div id="scroll" class="btndiv">
      <a href="#audience" class="button" title="Discover our program">
         Discover our program
      </a><br><br><br>
      <a id="scroll"><img src="/assets/arrow.jpg" alt="Smiley face" height="25px" width="25px" opacity="0.5"></img>
      </a>
    </div>   
  </div>  
  
  <div id="page2"
    <div class="cell6">
      <div class="image">
      </div>
      <div class="article">
        <h1> Learning to code is fun and easy with Amzur Connect </h1>
        <br>
          <p>Whether this is your first time coding, or you have tried it before - our courses guide you each step of the way. Scripted by educators, we offer practical coding skills to help you learn at your own pace.
          </p>
          
          <p>"It is a long established fact that a reader will be distracted"</p>
        </div>      
      <hr>
   </div>
    
    
    
  <div class="cell7">
    <div class="que">
      <h1> Learning to code is fun and easy with Amzur Connect  </h1>
      <br>
      <p>Whether this is your first time coding, or you have tried it before - our courses guide you each step of the way. Scripted by educators, we offer practical coding skills to help you learn at your own pace.</p>
      <p>"It is a long established fact that a reader will be distracted"</p>
    </div>
    <div class="image">     
    </div>
    <hr>
  </div>
  
  
    
     <div class="cell8">
    <div class="image">
      </div>
      <div class="blog">
        <h1> Learning to code is fun and easy with Amzur Connect </h1>
        <br>
          <p>Whether this is your first time coding, or you have tried it before - our courses guide you each step of the way. Scripted by educators, we offer practical coding skills to help you learn at your own pace.
          </p>
          
          <p>"It is a long established fact that a reader will be distracted"</p>
        </div>        
      <hr>
    </div>
    
    <div class="cell9">
      <div class="code">
          <h1> Learning to code is fun and easy with Amzur Connect  </h1>
          <br>
          <p>Whether this is your first time coding, or you have tried it before - our courses guide you each step of the way. Scripted by educators, we offer practical coding skills to help you learn at your own pace.</p>
          <p>"It is a long established fact that a reader will be distracted"</p>
      </div>
    <div class="image">     
    </div>
    <hr>
    </div>
  </div>
  </body>
</html>
